*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    background-color: rgb(24, 24, 113);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.header{
    list-style-type: none;
   
    display: flex;
    margin-right: 10%;
    padding: 20px;
   

}
.header li{
     margin-right: 30px;
     color: white;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10%;
   
    
}
#logo h1{
     color: rgb(225, 225, 230);
}

#academia_banner{
     width: 100%;
     height: 600px;
     object-fit: cover;
      display: block;
}
.sobre-nos {
    background-color: #1a1a3a; /* Cor de fundo mais escura */
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.sobre-nos-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.sobre-nos .text {
    flex: 1;
    padding-right: 20px;
}

.sobre-nos .text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-nos .text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.sobre-nos .text button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.sobre-nos .image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-nos .image img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.button-container{
     display: flex;
     justify-content: flex-end;
     margin-top: 50px;
    
}
.planos {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.planos .card {
    background-color: #1a1a3a;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    width: 280px;
}



.exercicios .card {
    display: flex;
    flex-direction: column;
    background-color: #1a1a3a;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    width: 280px;
    overflow: hidden; 
    transition: transform 0.3s ease;
    margin: 5px;
}

.exercicios .image {
    background-image: url('academia_site_prova_web.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%; 
}

.exercicios .bottom {
    background-color: #0a0a6d;
    padding: 10px;
    border-top: 1px solid #333; 
    border-radius: 0 0 10px 10px; 
}

.exercicios .card:hover{
    transform: scale(1.05);
}

.planos .card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.planos .card p {
    margin-bottom: 20px;
}

.planos .card button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.planos .card button:hover {
    background-color: #0056b3;
}

.details-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #218838;
}
.exercicios{
    
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
     background-color:#1a1a3a;
}

