*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    background-color: rgb(24, 24, 113);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.header{
    list-style-type: none;
   
    display: flex;
    margin-right: 10%;
    padding: 20px;
   

}
.header li{
     margin-right: 30px;
     color: white;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10%;
   
    
}
#logo h1{
     color: rgb(225, 225, 230);
}

#academia_banner{
     width: 100%;
     height: 600px;
     object-fit: cover;
      display: block;
}
.sobre-nos {
    background-color: #1a1a3a; /* Cor de fundo mais escura */
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.sobre-nos-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.sobre-nos .text {
    flex: 1;
    padding-right: 20px;
}

.sobre-nos .text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-nos .text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.sobre-nos .text button {
    font-size: 1.2em;
    line-height: 1.5;
     padding: 10px;
     border-radius: 50px;
     background-color: rgb(2, 2, 133);
     color: white;
     outline: none;
     border: none;
   
}

.sobre-nos .image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-nos .image img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.button-container{
     display: flex;
     justify-content: flex-end;
     margin-top: 50px;
    
}



